$veryDarkBlue: hsl(235, 21%, 11%);
$veryDarkDesaturatedBlue: hsl(235, 24%, 19%);
$lightGrayishBlue: hsl(234, 39%, 85%);
$lightGrayishBlueHover: hsl(236, 33%, 92%);
$darkGrayishBlue: hsl(234, 11%, 52%);
$veryDarkGrayishBlueLighter: hsl(233, 14%, 35%);
$veryDarkGrayishBlue: hsl(237, 14%, 26%);
$BrightBlue: hsl(220, 98%, 61%);
$BrightBlueHover: hsl(220, 94%, 65%);
