<div class="app_task_drag_and_drop">
  <div class="app_task_cont" (click)="taskClickEvent()">
    <div
      class="app_task_circle"
      [ngClass]="{ app_task_circle_complete: task.state }"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="11"
        height="9"
        *ngIf="task.state"
      >
        <path
          fill="none"
          stroke="#FFF"
          stroke-width="2"
          d="M1 4.304L3.696 7l6-6"
        />
      </svg>
    </div>
    <div
      class="app_task_text"
      [ngClass]="{ app_task_text_complete: task.state }"
    >
      {{ task.text }}
    </div>
  </div>
  <div class="app_task_line"></div>
</div>
