@import "../../assets/variables/style_variables.scss";

.app {
  &_task {
    &_cont {
      display: flex;
      background-color: $veryDarkDesaturatedBlue;
      justify-content: center;
      align-items: center;
      cursor: pointer;
    }

    &_circle {
      border-radius: 50%;
      border: 2px solid $veryDarkGrayishBlue;
      height: 22px;
      width: 22px;
      margin: 0 1rem;
      flex: 0 0 22px;

      display: flex;
      justify-content: center;
      align-items: center;

      &_complete {
        background: linear-gradient(
          to bottom right,
          hsl(192, 100%, 67%),
          hsl(280, 87%, 65%)
        );
        border: none;
      }
    }

    &_text {
      padding: 1rem 1rem 1rem 0;
      font-weight: 500;
      flex: 1;
      color: $lightGrayishBlue;

      &_complete {
        text-decoration: line-through;
        color: $veryDarkGrayishBlueLighter;
        font-style: italic;
      }
    }

    &_line {
      width: 100%;
      height: 1px;
      background-color: $veryDarkGrayishBlueLighter;
    }
  }
}
