@import "../assets/variables/style_variables.scss";

.main_bg {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;

  &_lower_part {
    background-color: $veryDarkBlue;
    flex: 1 1 10px;
  }

  &_upper_part {
    display: block;
    object-fit: cover;
    width: 100%;
  }
}

.app {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 10%;
  width: 30%;

  &_title {
    font-size: 2.5rem;
    font-weight: 700;
    letter-spacing: 1rem;
    color: $lightGrayishBlueHover;
    margin-bottom: 1.5rem;
  }

  &_input_cont {
    display: flex;
    background-color: $veryDarkDesaturatedBlue;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
  }

  &_circle {
    border-radius: 50%;
    border: 2px solid $veryDarkGrayishBlue;
    height: 22px;
    width: 22px;
    margin: 0 1rem;
    flex: 0 0 22px;

    &_focused {
      background-color: $BrightBlue;
    }
  }

  &_new_task {
    padding: 1rem 1rem 1rem 0;
    outline: none;
    border: none;
    font-weight: 500;
    background-color: transparent;
    flex: 1;
    font-size: 1.1rem;
    color: $darkGrayishBlue;

    &::placeholder {
      color: $darkGrayishBlue;
    }
  }

  &_task {
    &_cont {
      border-radius: 5px;
      overflow: hidden;
      margin-bottom: 3rem;
    }

    &_menu {
      &_cont {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        background-color: $veryDarkDesaturatedBlue;
        padding: 0.8rem 0;
        color: $veryDarkGrayishBlueLighter;
        font-weight: bold;

        &_phone {
          border-radius: 5px;
        }
      }

      &_selector_cont {
        display: flex;
        gap: 1rem;
        cursor: pointer;

        &_phone {
          background-color: $veryDarkDesaturatedBlue;
          padding: 0.8rem 0;
          justify-content: center;
          align-items: center;
          margin-top: 1rem;
          border-radius: 5px;
          color: $veryDarkGrayishBlueLighter;
          font-weight: bold;
        }
      }

      &_clear {
        cursor: pointer;
      }

      &_selected {
        color: $BrightBlue;
      }

      &_active:hover,
      &_all:hover,
      &_completed:hover {
        color: $BrightBlueHover;
      }
    }
  }

  &_drag_and_drop {
    color: $veryDarkGrayishBlueLighter;
    font-weight: bold;
    text-align: center;
  }
}

@media screen and (max-width: 1450px) {
  .app {
    width: 40%;
  }

  .main_bg {
    &_upper_part {
      flex: 0.8 1 10px;
    }
  }
}

@media screen and (max-width: 1100px) {
  .app {
    width: 50%;
  }

  .main_bg {
    &_upper_part {
      flex: 0.8 1 10px;
    }
  }
}

@media screen and (max-width: 900px) {
  .app {
    width: 60%;
  }
}

@media screen and (max-width: 700px) {
  .app {
    width: 80%;
  }
}

@media screen and (max-width: 499px) {
  .app_task_menu_cont_desktop {
    display: none;
  }
}

@media screen and (min-width: 500px) {
  .app_task_menu_cont_phone,
  .app_task_menu_selector_cont_phone {
    display: none;
  }
}
