<div class="main_bg">
  <img
    class="main_bg_upper_part"
    src="/assets/imgs/bg-desktop-dark.jpg"
    alt=""
  />
  <div class="main_bg_lower_part"></div>
  <div class="app">
    <div class="app_title">TODO</div>
    <div class="app_input_cont">
      <div
        class="app_circle"
        [ngClass]="{ app_circle_focused: inputFocused }"
      ></div>
      <input
        #inputTagValue
        (input)="inputChanged(inputTagValue.value)"
        class="app_new_task"
        placeholder="Create a new todo..."
        [value]="inputValue"
        (keydown)="inputOnKeyDown($event)"
        (focus)="handleOnFocus()"
        (blur)="handleOnBlur()"
      />
    </div>
    <div class="app_task_cont">
      <app-task *ngFor="let task of tasks" [task]="task" cdkDrag></app-task>

      <div class="app_task_menu_cont app_task_menu_cont_desktop">
        <div class="app_task_menu_item_cnt">
          {{ counter }} {{ counter > 1 ? "items" : "item" }}
        </div>
        <div class="app_task_menu_selector_cont">
          <p
            class="app_task_menu_all"
            [ngClass]="{ app_task_menu_selected: selectorState == 0 }"
            (click)="handleAllSelectorClick()"
          >
            All
          </p>
          <p
            class="app_task_menu_active"
            [ngClass]="{ app_task_menu_selected: selectorState == 1 }"
            (click)="handleActiveSelectorClick()"
          >
            Active
          </p>
          <p
            class="app_task_menu_completed"
            [ngClass]="{ app_task_menu_selected: selectorState == 2 }"
            (click)="handleCompletedSelectorClick()"
          >
            Completed
          </p>
        </div>
        <div class="app_task_menu_clear" (click)="handleClearCompletedTasks()">
          Clear Completed
        </div>
      </div>

      <div class="app_task_menu_cont app_task_menu_cont_phone">
        <div class="app_task_menu_item_cnt">
          {{ counter }} {{ counter > 1 ? "items" : "item" }}
        </div>
        <div class="app_task_menu_clear" (click)="handleClearCompletedTasks()">
          Clear Completed
        </div>
      </div>
      <div
        class="app_task_menu_selector_cont app_task_menu_selector_cont_phone"
      >
        <p
          class="app_task_menu_all"
          [ngClass]="{ app_task_menu_selected: selectorState == 0 }"
          (click)="handleAllSelectorClick()"
        >
          All
        </p>
        <p
          class="app_task_menu_active"
          [ngClass]="{ app_task_menu_selected: selectorState == 1 }"
          (click)="handleActiveSelectorClick()"
        >
          Active
        </p>
        <p
          class="app_task_menu_completed"
          [ngClass]="{ app_task_menu_selected: selectorState == 2 }"
          (click)="handleCompletedSelectorClick()"
        >
          Completed
        </p>
      </div>
    </div>
    <div class="app_drag_and_drop">Drag and drop to reorder list</div>
  </div>
</div>
